* {
  margin: auto;
  margin-top: 15px;
  color: #222222;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#foto {
  border-radius: 50px;
  position: absolute;
  width: 55px;
  height: 55px;
  left: 10px;
  top: 5px;
}
.nomelateral1 {
  position: absolute;
  width: 30px;
  height: 11px;
  left: 430px;
  top: 330px;
  color: #ffffff;
  background-color: #19304f;
}
.nomelateral2 {
  position: absolute;
  width: 30px;
  height: 11px;
  left: 430px;
  top: 380px;
  color: #ffffff;
  background-color: #19304f;
}
.nomelateral3 {
  position: absolute;
  width: 30px;
  height: 11px;
  left: 415px;
  top: 430px;
  color: #ffffff;
  background-color: #19304f;
}
.nomelateral4 {
  position: absolute;
  width: 30px;
  height: 11px;
  left: 427px;
  top: 480px;
  color: #ffffff;
  background-color: #19304f;
}
.nomelateral5 {
  position: absolute;
  left: 415px;
  top: 530px;
  color: #ffffff;
  background-color: #19304f;
}
h2,
h1 {
  color: #19304f;
}
.Nome {
  position: absolute;
  margin-top: 10px;
  position: absolute;
  width: 150px;
  height: 10px;
  left: 150px;
}
.nome2 {
  position: absolute;
  width: 130px;
  height: 15px;
  left: 150px;
  top: 40px;

  font-size: 10px;
}
.nometopo {
  position: absolute;
  width: 75px;
  height: 15px;
  left: 420px;
  margin-top: 100px;
  color: #ffffff;
  background-color: #19304f;
}
.nometop2 {
  position: absolute;
  width: 75px;
  height: 15px;
  left: 406px;
  margin-top: 282px;
  color: #ffffff;
  background-color: #19304f;
}
.geral {
  margin-left: 40px;
  position: absolute;
  width: 329px;
  height: 686px;
  left: 0px;
  top: 0px;
}
.primeiro {
  margin-top: 100px;
}
.endereco {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
}
.segundo {
  margin-top: 36px;
}
.trabalhos {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
}
.terceiro {
  margin-top: 36px;
}
.estudos {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-align: justify;
}
.quarto {
  margin-top: 36px;
}
.link {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
}
.lado {
  position: absolute;
  width: 157px;
  height: 920px;
  left: 329px;
  top: 0px;
  background-color: #19304f;
  margin-left: 50px;
}
.icons {
  position: absolute;
  left: 30%;
  right: 40%;
  top: 35%;
  bottom: 74.26%;
  margin-left: 15px;
  background-color: #19304f;
  flex-direction: row;
}
.lado2 {
  position: absolute;
  width: 100px;
  left: 357px;
  top: 117px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  text-align: justify;
  background-color: #19304f;
  color: #ffffff;
  margin-left: 45px;
  margin-top: 50px;
}
.linha {
  position: absolute;
  width: 94px;
  height: 2px;
  left: 379px;
  top: 301px;
  background: #ffffff;
  margin-left: 30px;
}
.linha {
  position: absolute;
  width: 94px;
  height: 2px;
  left: 379px;
  top: 350px;
  background: #ffffff;
  margin-left: 30px;
  color: #ffffff;
}

.linha1 {
  position: absolute;
  width: 94px;
  height: 2px;
  left: 379px;
  top: 400px;
  background: #ffffff;
  margin-left: 30px;
}
.linha2 {
  position: absolute;
  width: 94px;
  height: 2px;
  left: 379px;
  top: 450px;
  background: #ffffff;
  margin-left: 30px;
}
.linha3 {
  position: absolute;
  width: 94px;
  height: 2px;
  left: 379px;
  top: 500px;
  background: #ffffff;
  margin-left: 30px;
}
.linha4 {
  position: absolute;
  width: 94px;
  height: 2px;
  left: 379px;
  top: 550px;
  background: #ffffff;
  margin-left: 30px;
}
